<div class="container-fluid">
  <app-page-title title="Administrar Casos" [breadcrumbItems]="breadCrumbItems"></app-page-title>


  <div class="row">
    <div class="col-sm-12">
      <div class="float-start">
        <button (click)="redirectToCreate()" type="button" class="btn btn-primary"> <i class="fas fa-folder-plus"></i>
          Crear Caso</button>
      </div>
    </div>
  </div>


  <div class="row mt-4">
    <div *ngFor="let item of casesToReport" class="col-xl-4 col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="media">
            <div class="avatar-md me-4">
              <span class="avatar-title rounded-circle bg-light text-danger font-size-16">
                <img [src]="item?.user?.user?.hospitalDto?.logo" alt height="30" />
              </span>
            </div>

            <div class="media-body overflow-hidden">
              <h5 class="text-truncate font-size-15">
                <a href="javascript: void(0);" class="text-dark">Caso: <b>{{item?.code}}</b></a>
              </h5>
              <p class="text-muted mb-4">Creado por: <b>{{item?.user.user.person.firstName}}
                  {{item?.user.user.person.lastName}}</b></p>
              <p class="text-muted mb-4" style="margin-top: -22px;">Imágenes: <b>{{item?.othersImages?.length +
                  item?.personImages
                  ?.length}}</b></p>
              <p class="text-muted mb-4" style="margin-top: -22px;">Tipo: <b class="text-danger">Accidente de
                  Transito</b></p>


              <div class="avatar-group">
                <div *ngFor="let img of item.personImages" class="avatar-group-item">
                  <a href="javascript: void(0);" class="d-inline-block">
                    <img src="{{img}}" class="rounded-circle avatar-xs" alt />
                  </a>
                </div>
                <div *ngFor="let img of item.othersImages" class="avatar-group-item">
                  <a href="javascript: void(0);" class="d-inline-block">
                    <img src="{{img}}" class="rounded-circle avatar-xs" alt />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-4 py-3 border-top">
          <ul class="list-inline mb-0">
            <li class="list-inline-item me-3">
              <span class="badge" [ngClass]="{ 'bg-success': item?.status === 'completed',
                    'bg-warning': item?.status === 'pending',
                    'bg-danger': item?.status === 'delay' }">Pendiente</span>
            </li>
            <li class="list-inline-item me-3" title="Due Date" ngbTooltip="Due Date">
              <i class="bx bx-calendar me-1"></i>
              {{item?.creationDate}}
            </li>
            <!-- <li class="list-inline-item me-3" title="Comments" ngbTooltip="Comments">
              <i class="bx bx-comment-dots me-1"></i>
              {{grid.comment}}
            </li> -->
          </ul>
        </div>
      </div>
    </div>

    <div *ngIf="!casesToReport?.length" class="alert alert-warning" role="alert">
      <strong>No hay casos disponibles</strong>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-lg-12">
      <ul class="pagination pagination-rounded justify-content-center mt-2 mb-5">
        <li class="page-item disabled">
          <a href="javascript: void(0);" class="page-link">
            <i class="mdi mdi-chevron-left"></i>
          </a>
        </li>
        <li class="page-item">
          <a href="javascript: void(0);" class="page-link">1</a>
        </li>
        <li class="page-item active">
          <a href="javascript: void(0);" class="page-link">2</a>
        </li>
        <li class="page-item">
          <a href="javascript: void(0);" class="page-link">3</a>
        </li>
        <li class="page-item">
          <a href="javascript: void(0);" class="page-link">4</a>
        </li>
        <li class="page-item">
          <a href="javascript: void(0);" class="page-link">5</a>
        </li>
        <li class="page-item">
          <a href="javascript: void(0);" class="page-link">
            <i class="mdi mdi-chevron-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div> -->
  <!-- end row -->
</div>