<!-- <div class="container-fluid">

  <app-page-title title="Crear Caso" [breadcrumbItems]="breadCrumbItems"></app-page-title>


 
  <div class="row mb-3">
    <div class="col-sm-12">
      <div class="float-end">
        <a name="" id="" class="btn btn-primary" (click)="goToBack()" role="button">Cancelar</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Crear Nuevo Caso</h4>
         
          <form>
            <div class="row mb-4">
              <label for="projectname" class="col-form-label col-lg-2">Referencia de Caso</label>
              <div class="col-lg-10">
                <input id="projectname" name="projectname" type="text" class="form-control"
                  placeholder="Escriba una referencia del caso">
              </div>
            </div>
            <div class="row mb-4">
              <label for="projectdesc" class="col-form-label col-lg-2">Descripción</label>
              <div class="col-lg-10">
                <textarea class="form-control" id="projectdesc" rows="3"
                  placeholder="Escriba una breve descripción..."></textarea>
              </div>
            </div>

          
          </form>
          <div class="row mb-4">
            <label class="col-form-label col-lg-2">Imágenes de la Persona:</label>
            <div class="col-lg-10">
              <dropzone class="dropzone"></dropzone>
            </div>
          </div>

          <div class="row mb-4">
            <label class="col-form-label col-lg-2">Otras Imágenes (Prendas, tataujes, etc.)</label>
            <div class="col-lg-10">
              <dropzone class="dropzone"></dropzone>
            </div>
          </div>

          <div class="row justify-content-end">
            <div class="col-lg-10">
              <button type="submit" class="btn btn-primary">Crear Caso</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>  -->


<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Crear Nuvevo Caso</h4>
          <form [formGroup]="caseForm"  class="outer-repeater">
            <div data-repeater-list="outer-group" class="outer">
              <div data-repeater-item class="outer">
                <div class="row mb-4">
                  <label for="taskname" class="col-form-label col-lg-2">Referencia de Caso:</label>
                  <div class="col-lg-10">
                    <input formControlName="reference" id="taskname" name="taskname" type="text" class="form-control"
                      placeholder="Algo que haga referencia al caso">
                      <div *ngIf="caseForm.get('reference').invalid && caseForm.get('reference').touched">
                        <p class="text-danger" *ngIf="caseForm.get('reference').errors?.required">La referencia es requerida.</p>
                        <p class="text-danger" *ngIf="caseForm.get('reference').errors?.minlength">La referencia debe tener al menos 10 caracteres.</p>
                      </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <label class="col-form-label col-lg-2">Descripción:</label>
                  <div class="col-lg-10">
                    <ckeditor formControlName="description" [editor]="Editor" data="<p>Escriba una descripción del caso.</p>"></ckeditor>
                    <div *ngIf="caseForm.get('description').invalid && caseForm.get('description').touched">
                      <p class="text-danger" *ngIf="caseForm.get('description').errors?.required">La descripción es requerida.</p>
                      <p class="text-danger" *ngIf="caseForm.get('description').errors?.minlength">La descripción debe tener al menos 30 caracteres.</p>
                    </div>
                  </div>
                </div>

               
                <div class="row mb-4">
                  <label class="col-form-label col-lg-2">Imágenes de la Persona:</label>
                  <div class="col-lg-10">
                    <dropzone (addedfile)="onFileLoad($event)" [config]="config" class="dropzone"></dropzone>
                  </div>
                </div>
      
                <div class="row mb-4">
                  <label class="col-form-label col-lg-2">Otras Imágenes (Prendas, tataujes, etc.)</label>
                  <div class="col-lg-10">
                    <dropzone class="dropzone" [config]="configOthers"></dropzone>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="row justify-content-end">
            <div class="col-lg-10">
              <button type="submit" (click)="createCase()" class="btn btn-primary">Crear Caso</button>
              <button type="submit" class="btn btn-danger mx-3">Cancelar</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->
